/* Styling für den Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #ffffff;
}

/* Zentriert das Formular und verleiht ihm ein modernes Aussehen */
form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Drag-and-Drop Bereich */
#drop-area {
    width: 85%;
    padding: 20px;
    margin: 20px;
    border: 2px dashed #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

/* Datei-Input */
input[type="file"] {
    display: none; /* Verstecke das Standard-Dateiauswahlfeld */
}

/* Upload-Button */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Anzeige der Dateien */
#file-info {
    margin-top: 20px;
    color: #ffffff;
}

#file-list, #drop-file-list, #manual-file-list {
    list-style-type: none;
    padding-left: 0;

    li {
        margin: 5px 0;
    }
}

#file-list li {
    margin: 5px 0;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}
