html,
body {
  background-color: var(--color-grey);
  font-family: var(--ff-primary);
  font-size: var(--m);
  hyphens: auto;
  line-height: var(--lh-normal);
  color: var(--color-white);
  background: linear-gradient(
    135deg,
    var(--color-fade-blue),
    var(--color-fade-purple)
  );
}

main {
  margin-left: var(--xxxl);
  margin-right: var(--xxxl);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-purple-dark);
  margin: 0;
  padding: var(--l) var(--xxxl);

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-left: 53px;
    }
  }

  a {
    font-size: var(--fs-m);
    font-style: normal;
  }
}

a {
  color: var(--color-black);
  font-weight: var(--fw-medium);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  padding-top: var(--m);
  margin-bottom: var(--m);
  font-weight: var(--fw-bold);
  hyphens: none;
}

h1 {
  padding: 0;
  margin-bottom: 0;
  font-family: var(--ff-logo);
  font-weight: var(--fw-logo);
  font-size: var(--fs-logo);
}

h2 {
  font-size: var(--l);
}

p {
  margin-bottom: var(--s);
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  padding: 40px 80px;
  background-color: var(--color-purple-dark);
  width: 100%;
  box-sizing: border-box;

  p {
      margin: 0;
  }

  .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
          text-align: left;
          width: 15%;

          .brand {
              font-size: 22px;
              font-weight: bold;
              color: var(--color-white);
          }

          .small-text {
              font-size: 12px;
              line-height: var(--lh-normal);
              color: #ADADAD;
          }
      }

      .right {
          list-style: none;
          display: flex;
          padding: 0;
          margin: 0;
          align-items: flex-start; 

          li {
              margin: 0 15px;

              a {
                  font-size: 16px;
                  color: var(--color-white);
                  text-decoration: none;

                  &:hover {
                      text-decoration: underline;
                  }
              }
          }
      }
  }

  .divider {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid var(--color-purple);
  }

  .copyright {
      text-align: left;
      font-size: 12px;
      color: #ADADAD;
  }
}