main {
    margin-left: var(--xxxl);
}

header {
    padding-right: 80px;
    padding-left: 80px;
}

.contentmanager-options {
    margin-right: 385px;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-top: var(--xxxl);
    margin-bottom: var(--xl);

    h2 {
        font-weight: var(--fw-medium);
        font-size: var(--fs-xl);
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        gap: var(--xs);
        color: var( --color-purple-dark);

        a {
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px;
            background: var(--color-purple);
            border-radius: 5px;

            p {
                font-weight: var(--fw-bold);
                font-size: var(--fs-m);
                margin: 0;
            }
        }
    }

    .search {
        p {
            margin-right: 120px;
        }
    }

    .new-customer {
        p {
            margin-right: var(--s);
        }
    }
}

.customer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;

    .customer-name {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        cursor: pointer;
    }

    .customer-button {
        all: unset;
        font-size: var(--fs-l);
        font-weight: var(--fw-bold);
    }

    .customer-links {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

    .card {

        margin-top: var(--l);
        padding: var(--s) var(--l);
        background-color: var(--color-purple-dark);
        border-radius: 15px;

        .project {
            display: grid;
            grid-template-columns: auto 300px;
            grid-template-rows: 1fr;
            justify-content: space-between;
            margin-bottom: var(--s);

            h3 {
                margin: 0;
                padding: 0;
                font-size: var(--fs-l);
                font-weight: var(--fw-bold);
            }

            .project-link {
                display: flex;
                justify-content: space-between;
                gap: var(--s);
                font-size: var(--fs-s);

                .icon {
                    font-size: var(--fs-l);
                }

                a {
                    font-weight: var(--fw-regular);
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
            }
        }

        .settings {
            display: grid;
            grid-template-columns: 200px auto 300px;
            grid-template-rows: 1fr;

            select, input {
                all: unset;
                width: 140px;
                padding: 0 5px;
                background-color: var(--color-purple);
                font-size: var(--fs-s);
                border-radius: 5px;
            }

            input::placeholder {
                color: var(--color-grey);
            }

            label {
                font-size: var(--fs-s);
                font-weight: var(--fw-bold);
            }

            .setting-1, .setting-2, .setting-3 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
}

.new-link {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--color-grey);
    
    p {
        margin: 0;
        font-size: var(--fs-s);
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .icon {
        font-size: var(--fs-l);
        margin-left: var(--xs);
    }
}